name: Playwright Tests Dev
on:
  push:
    branches: develop
  
jobs:
  test:
    environment: E2E_ENV
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      ENV: ${{ secrets.E2E_ENV }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Create .env from secret
      run: |
        # write secret contents to .env without printing it to logs
        printf '%s' "$ENV" > .env
    - name: Run Playwright tests 
      run: npx bddgen && npx playwright test --grep @login-success

      # ----------------------------------------
      # Allure CLI
      # ----------------------------------------
    - name: Install Allure CLI globally
      run: npm install -g allure

    - name: Generate Allure report
      run: allure generate allure-results

      # ----------------------------------------
      # Upload sebagai artifact
      # ----------------------------------------
    - name: Upload Allure report artifact
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: allure-report
        path: allure-report/
        retention-days: 30
